@tailwind base;
@tailwind components;
@tailwind utilities;

.carousel {
  background: url("../assets/images/background.jpg") center center gray fixed;
  background-blend-mode: multiply;
}
.carouselInner{
  display: flex !important;
}